<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
<meta charset="utf-8" />
</head>
<body>
	<table border="1">
		<th>
			<td>Password</td>
			<td>Username</td>
		</th>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}">Id</td>
			<td th:text="${user.password}">Password</td>
			<td th:text="${user.username}">Username</td>
		</tr>
	</table>
</body>
</html>